<div class="center" id="container" style="display: none;">
  <div class="bubble"><span>Thank you for watching!</span></div>
  <div class="image"><img src="https://graph.facebook.com/<%= @link.user.fb_id %>/picture?type=normal"/></div>
  <div class="name"><%= @link.user.name %></div>
  <div class="separator"></div>
  <div class="shared-using"><h3>I shared this using <strong>RocketShare</strong></h3><img src="/images/networks.png"/>

    <h3>One Click sharing across all Social Networks</h3></div>
  <div class="separator"></div>
  <div class="install">
    <a href="https://play.google.com/store/apps/details?id=com.rocketshare">Try it now!</a>
  </div>
</div>

<% if @web_flow == true %>
    <script type="text/javascript">
        function resizeAndScroll() {
            if (null != navigator.userAgent.toLowerCase().match(/android/i)) {
                try {
                    window.scrollTo(0, 0); // reset in case prev not scrolled
                    var nPageH = document.height;
                    var nViewH = window.outerHeight;
                    alert('resizing (1.5) ' + nPageH + ' ' + nViewH);
                    if (nViewH > nPageH) {
                        nViewH = nViewH / window.devicePixelRatio;
                        document.body.style.height = nViewH + 'px';
                    }
                    window.scrollTo(0, 1);
                }
                catch (ee) {
                    alert(ee);
                }
            }
        }

        window.onload = function () {
            if (null != navigator.userAgent.toLowerCase().match(/(android)/i)) {
                setTimeout(function () {
                    if (window.history.state == null || !window.history.state.rockt) {
                        window.history.replaceState({rockt: true}, 'rocket');
                        window.location.href = '<%= @link.original_link %>';
                    } else {
                        window.history.replaceState({rockt: false}, 'rocket');
                        document.title = 'RocketShare';
                        container.style.display = 'block';
                        document.body.style.height = '2000px';
                        window.scrollTo(0,1);
                        //resizeAndScroll();
                    }
                }, 300);
            } else {
                window.location.href = '<%= @link.original_link %>';
            }
        };
    </script>
<% else %>
    <% @link.images.each do |img| %>
        <img src="<%= img %>"/>
    <% end %>
<% end %>