<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/WebPage">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  <title><%= @link.title %></title>
  <meta name="robots" content="noindex">
  <meta name="description" content="<%= @link.description %>">
  <!-- Facebook -->
  <meta property="og:url" content="<%= @link.original_link %>">
  <% unless @link.og_title.nil? %>
      <meta property="og:title" content="<%= @link.og_title %>">
  <% end %>
  <% unless @link.og_description.nil? %>
      <meta property="og:description" content="<%= @link.og_description %>">
  <% end %>
  <% unless @link.og_images.length == 0 %>
      <% @link.og_images.each do |og_image| %>
          <meta property="og:image" content="<%= og_image %>">
      <% end %>
  <% end %>
  <!-- Google + -->
  <meta itemprop="url" content="<%= @link.original_link %>">
  <meta itemprop="name" content="<%= @link.og_title %>">
  <meta itemprop="description" content="<%= @link.og_description %>">
  <% unless @link.og_images.length == 0 %>
      <meta itemprop="image" content="<%= @link.og_images[0] %>">
  <% end %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link href='/css/share.css' rel='stylesheet' type='text/css'>
</head>
<body onunload="">
<%= yield %>
</body>
</html>
